#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 1em;
}

input {
  width: 300px;
  padding: 0.5em;
  border-radius: 1em;
}

body {
  background: linear-gradient(rgb(3, 3, 155), rgb(65, 65, 161), rgb(127, 127, 164));
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

header {
  justify-content: center;
  text-align: center;
  padding-top: 150px;
}