.filmes {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
    padding: 20px;
}

.filmes > div {
    width: 45%;
}

h1 {
    text-align: center;
    margin-top: 20px;
}