.loginusuario {
    background-color: black;
    width: 450px;
    height: 300px;
    border-radius: 2em;
    padding-top: 15px;
    margin: 0 auto;
}

input {
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 1em;
    font-weight: bold;
    font-size:medium;
}

button {
    display: inline-block;
    margin-right: 10px;
    border-radius: 2em;
}

button a{
    color: black;
}

button a:hover{
    color: black;
}
