.filmes {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
    margin: 0 auto;
}

.assistidos, .assistir{
    background-color: black;
    width: 300px;
    height: 180px;
    border-radius: 2em;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 25px;
}

h1 {
    text-align: center;
}

.titulo {
    padding-bottom: 70px;
}

.filmes a{
    color: white;
}

.filmes a:hover{
    color: white;
    text-decoration: none;
}